//Fuente
$fuente_principal: 'roboto', sans-serif;

//Media Queries
$telefono: 480px;
$tablet: 798px;
$desktop: 1024px;

// Colores
$primario: #E8505B;
$secunddario: #455A64;
$negro: #000;
$blanco: #FFF;
$grisClaro: #eceeef;

//Unidades
$separacion: 5rem;